# yaml-language-server: $schema=https://json.schemastore.org/clang-tidy.json
---
Checks:
  - "-*"
  - "clang-diagnostic-*"
  - "clang-analyzer-core.*"
  - "clang-analyzer-deadcode.*"
  - "clang-analyzer-security.*"
  - "clang-analyzer-unix.*"
  - "bugprone-*"
  - "misc-misleading-bidirectional"
  - "misc-misleading-identifier"
  - "misc-redundant-expression"
  - "misc-static-assert"
  - "performance-*"
  - "portability-*"
  - "readability-avoid-unconditional-preprocessor-if"
  - "readability-duplicate-include"
  - "readability-misleading-indentation"
  - "readability-redundant-control-flow"
  - "readability-redundant-declaration"
  - "readability-redundant-function-ptr-dereference"
  - "readability-redundant-parentheses"
  - "readability-redundant-preprocessor"
  - "readability-simplify-boolean-expr"
  - "readability-uppercase-literal-suffix"
  - "-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
  - "-bugprone-easily-swappable-parameters"
  - "-bugprone-multi-level-implicit-pointer-conversion"
  - "-bugprone-narrowing-conversions"
  - "-bugprone-reserved-identifier"
  - "-bugprone-switch-missing-default-case"
  - "-portability-avoid-pragma-once"
  - "-portability-restrict-system-includes"

HeaderFileExtensions:
  - h

ImplementationFileExtensions:
  - c

HeaderFilterRegex: ".*/(xs|xsproj|tests|include)/.*"
ExcludeHeaderFilterRegex: "(^|.*/)(build|cmake-build.*|vendor|third_party|external|subprojects)/.*"

SystemHeaders: false
FormatStyle: file
InheritParentConfig: false
UseColor: true

ExtraArgs:
  - "-std=c23"

CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: "CHECK"
  - key: bugprone-sizeof-expression.WarnOnSizeOfConstant
    value: "true"
  - key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
    value: "true"
  - key: bugprone-suspicious-string-compare.WarnOnImplicitComparison
    value: "true"
  - key: bugprone-suspicious-string-compare.StringCompareLikeFunctions
    value: "strcmp;strncmp;memcmp"
...
