root = true

[{*.java,scripts/java/xs*,scripts/java/**/*/}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
continuation_indent_size = 4
tab_width = 2
max_line_length = 120

ij_continuation_indent_size = 4
ij_java_label_indent_size = 0
ij_java_label_indent_absolute = false
ij_java_use_relative_indents = false
ij_java_use_tab_character = false
ij_java_smart_tabs = false

ij_java_use_single_class_imports = true
ij_java_use_fq_class_names = false
ij_java_insert_inner_class_imports = true
ij_java_layout_static_imports_separately = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = unset
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,org.**,|,com.**,|,^

ij_java_space_before_if_parentheses = true
ij_java_space_before_for_parentheses = true
ij_java_space_before_while_parentheses = true
ij_java_space_before_switch_parentheses = true
ij_java_space_before_catch_parentheses = true
ij_java_space_before_synchronized_parentheses = true
ij_java_space_before_try_parentheses = true
ij_java_space_before_method_parentheses = false
ij_java_space_before_method_call_parentheses = false
ij_java_space_around_assignment_operators = true
ij_java_space_around_logical_operators = true
ij_java_space_around_equality_operators = true
ij_java_space_around_relational_operators = true
ij_java_space_around_bitwise_operators = true
ij_java_space_around_additive_operators = true
ij_java_space_around_multiplicative_operators = true
ij_java_space_around_shift_operators = true
ij_java_space_around_unary_operator = false
ij_java_space_within_parentheses = false
ij_java_space_within_method_call_parentheses = false
ij_java_space_within_method_parentheses = false
ij_java_space_within_brackets = false
ij_java_space_within_braces = false
ij_java_space_before_array_initializer_left_brace = false

ij_java_brace_style = end_of_line
ij_java_class_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_lambda_brace_style = end_of_line
ij_java_else_on_new_line = false
ij_java_catch_on_new_line = false
ij_java_finally_on_new_line = false
ij_java_while_on_new_line = false
ij_java_keep_simple_blocks_in_one_line = false
ij_java_keep_simple_methods_in_one_line = false
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_keep_simple_classes_in_one_line = false

ij_java_align_multiline_parameters = false
ij_java_align_multiline_parameters_in_calls = false
ij_java_align_multiline_binary_operation = false
ij_java_align_multiline_assignment = false
ij_java_align_multiline_chained_methods = false
ij_java_align_multiline_array_initializer_expression = false
ij_java_align_multiline_ternary_operation = false
ij_java_align_multiline_extends_list = false
ij_java_align_multiline_throws_list = false

ij_java_call_parameters_wrap = normal
ij_java_method_parameters_wrap = normal
ij_java_extends_list_wrap = normal
ij_java_throws_list_wrap = normal
ij_java_method_call_chain_wrap = normal
ij_java_binary_operation_wrap = normal
ij_java_ternary_operation_wrap = normal
ij_java_array_initializer_wrap = normal
ij_java_assignment_wrap = normal
ij_java_assert_statement_wrap = normal

ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_around_field_in_interface = 0
ij_java_blank_lines_around_method_in_interface = 1
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_before_right_brace = 1

[*.d]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
continuation_indent_size = 4
tab_width = 2
max_line_length = 120

[*.toml]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 120
